@media screen and (min-width: 1280px) {
    .container {
        max-width: 1170px;
        width: 1170px;
    }
}

body {
    line-height: 1;
    position: relative;
}

.container {
    height: 100%;
}
.columns {
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}
.columns .column {
    padding: 0;
}

/**********top-header**********/
.top-header {
    height: 50px;
    border-bottom: #e1e1e1 solid 1px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.top-header .navbar-link {
    padding-left: 0;
}
.navbar-item {
    padding: 0;
}

/**********middle-header**********/
.middle-header {
    height: 120px;
}

/**********bottom-header**********/
.bottom-header {
    background: #4084c5;
    height: 70px;
}
.bottom-header .columns {
    /*margin: 0 -0.43rem 0 -0.43rem;*/
}
.bottom-header .column {
    padding: 0 0.43rem;
}
.bottom-header .column > .navbar-item {
    padding: 0;
}
.bottom-header .columns .column:first-child {
    padding-left: 0;
}
.bottom-header .columns .column:last-child {
    padding-right: 0;
}

/**********promo-header**********/
.promo {
    padding: 40px 0;
}

/**********benefits**********/
.benefits {
    padding-bottom: 60px;
}
.benefits .columns {
    align-items: flex-start;
}
.benefits .columns {
    /*margin: 0 -0.95rem 0 -0.95rem;*/
}
.benefits .column {
    padding: 0 0.95rem;
}

/**********carousel-news**********/
.carousel-news {
    background-color: #f9fafc;
    padding: 85px 0;
}

/**********carousel-tabs**********/
.carousel-tabs {
    padding: 80px 0;
}

/**********carousel-showroom**********/
.carousel-showroom {
    padding: 85px 0;
}

/**********main-about**********/
.main-about {
    padding: 130px 0 70px 0;
}
.main-about .columns {
    align-items: flex-start;
}

/**********main-popular-category**********/
.main-popular-category {
    padding: 80px 0 100px 0;
}
.main-popular-category .columns {
    align-items: flex-start;
}

/**********main-videos**********/
.main-videos {
    padding: 85px 0;
}

/**********main-partners**********/
.main-partners {
    padding: 75px 0 175px 0;
}
.main-partners .logos .column {
    border: #ebebeb solid 1px;
    width: 195px;
    height: 100px;
}
.main-partners .logos .navigate {
    position: relative;
}
.main-partners .logos .navigate:after {
    content: "";
    position: absolute;
    height: 50%;
    left: 50%;
    top: 25%;
    width: 1px;
    background-color: #ebebeb;
}
.main-partners .logos .navigate button {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    border: none;
}
.main-partners .logos .navigate button + button {
    right: 0;
    left: auto;
}

/**********footer-top**********/
.footer-top {
    background-color: #2f343e;
    padding: 75px 0 65px 0;
    border-bottom: #43474e solid 1px;
}

/**********footer-middle**********/
.footer-middle {
    background-color: #2f343e;
    padding: 40px 0;
}

/**********footer-bottom**********/
.footer-bottom {
    background-color: #22262d;
    padding: 19px 0;
}





.btn {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    padding: 0 .75em;
    text-align: center;
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
    min-width: 210px;
    font-family: AbradeBold;
    font-size: 13px;
    text-transform: uppercase;
    transition: background .3s linear;
}

.btn.is-primary {
    color: white;
    background-color: #4084c5;
    transition: background .3s linear;
}

.btn.is-disabled {
    color: white;
    background-color: #b7b7b7;
    transition: background .3s linear;
}

.btn.is-hovered, .btn:hover {
    color: white;
    background-color: #154b7e;
    transition: background .3s linear;
}

.btn.is-primary.is-active, .btn.is-primary:active {
    color: white;
    background-color: #154b7e;
    transition: background .3s linear;
}
.btn.is-primary.is-outlined {
    color: #4084c5;
    background: none;
    border-color: #4084c5;
    transition: background .3s linear;

}
.btn.is-primary.is-outlined.is-active, .btn.is-primary.is-outlined:active,
.btn.is-primary.is-outlined.is-hovered, .btn.is-primary.is-outlined:hover {
    background-color: #4084c5;
    color: white;
    transition: background .3s linear;
}




.input {
    font-family: RobotoRegular;
    font-size: 14px;
    color: #010101;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
    height: auto;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: RobotoRegular;
    font-size: 14px;
    color: #868686;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: RobotoRegular;
    font-size: 14px;
    color: #868686;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: RobotoRegular;
    font-size: 14px;
    color: #868686;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: RobotoRegular;
    font-size: 14px;
    color: #868686;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

@media screen and (min-width: 769px), print {
    .modal-card, .modal-content {
        width: 800px;
    }
}


@media screen and (max-width: 1279px) {
    .container.is-widescreen {
        max-width: 1170px;
        width: 1170px;
    }
}