.preview-products .product {
    min-height: 490px;
    border: #ebebeb solid 1px;
    background: white;
    position: relative;
}
.preview-products .product .info {
    padding-left: 20px;
    padding-right: 20px;
}
.preview-products .product .extends {
    border-top: #ebebeb solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.preview-products .product .badges {
    position: absolute;
    top: 10px;
    left: 10px;
}
.preview-products .product .badges .tag {
    margin-bottom: 0.25rem;
}

.carousel-tabs .tabs a {
    padding-left: 0;
    padding-right: 0;
    margin-right: 45px;
}

.tabs li a {
    border-bottom-color: transparent;
}

.tabs li.is-active a {
    border-bottom: #3273dc solid 3px;
}

.preview-videos .video {
    position: relative;
    overflow: hidden;
    height: 320px;
}

.preview-videos .video .tag {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.preview-videos .video img {
    width: 100%;
}
.preview-videos .video p {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: white;
}

.preview-videos .video .dark {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 20%;
    background: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,0));
}

.footer-top .link {
    display: block;
}
.footer-top .container  .columns {
    align-items: flex-start;
}
.footer-middle .container  .columns {
    align-items: flex-start;
}

.footer-top .catalog-menu {
    border-left: #43474e solid 1px;
    border-right: #43474e solid 1px;
}

