/* Icons from directory "" */
.iconizr-a,.iconizr-a\:regular{background-image:url('icons/a.svg');background-repeat:no-repeat}
.iconizr-a-dims{width:13px;height:18px}
.iconizr-aa,.iconizr-aa\:regular{background-image:url('icons/aa.svg');background-repeat:no-repeat}
.iconizr-aa-dims{width:11px;height:13px}
.iconizr-ab,.iconizr-ab\:regular{background-image:url('icons/ab.svg');background-repeat:no-repeat}
.iconizr-ab-dims{width:22px;height:18px}
.iconizr-ac,.iconizr-ac\:regular{background-image:url('icons/ac.svg');background-repeat:no-repeat}
.iconizr-ac-dims{width:10px;height:11px}
.iconizr-b,.iconizr-b\:regular{background-image:url('icons/b.svg');background-repeat:no-repeat}
.iconizr-b-dims{width:24px;height:24px}
.iconizr-c,.iconizr-c\:regular{background-image:url('icons/c.svg');background-repeat:no-repeat}
.iconizr-c-dims{width:6px;height:9px}
.iconizr-d,.iconizr-d\:regular{background-image:url('icons/d.svg');background-repeat:no-repeat}
.iconizr-d-dims{width:11px;height:11px}
.iconizr-e,.iconizr-e\:regular{background-image:url('icons/e.svg');background-repeat:no-repeat}
.iconizr-e-dims{width:13px;height:11px}
.iconizr-f,.iconizr-f\:regular{background-image:url('icons/f.svg');background-repeat:no-repeat}
.iconizr-f-dims{width:20px;height:12px}
.iconizr-g,.iconizr-g\:regular{background-image:url('icons/g.svg');background-repeat:no-repeat}
.iconizr-g-dims{width:10px;height:5px}
.iconizr-h,.iconizr-h\:regular{background-image:url('icons/h.svg');background-repeat:no-repeat}
.iconizr-h-dims{width:8px;height:9px}
.iconizr-i,.iconizr-i\:regular{background-image:url('icons/i.svg');background-repeat:no-repeat}
.iconizr-i-dims{width:9px;height:14px}
.iconizr-j,.iconizr-j\:regular{background-image:url('icons/j.svg');background-repeat:no-repeat}
.iconizr-j-dims{width:9px;height:14px}
.iconizr-k,.iconizr-k\:regular{background-image:url('icons/k.svg');background-repeat:no-repeat}
.iconizr-k-dims{width:9px;height:14px}
.iconizr-l,.iconizr-l\:regular{background-image:url('icons/l.svg');background-repeat:no-repeat}
.iconizr-l-dims{width:9px;height:14px}
.iconizr-m,.iconizr-m\:regular{background-image:url('icons/m.svg');background-repeat:no-repeat}
.iconizr-m-dims{width:26px;height:14px}
.iconizr-n,.iconizr-n\:regular{background-image:url('icons/n.svg');background-repeat:no-repeat}
.iconizr-n-dims{width:22px;height:17px}
.iconizr-o,.iconizr-o\:regular{background-image:url('icons/o.svg');background-repeat:no-repeat}
.iconizr-o-dims{width:11px;height:20px}
.iconizr-p,.iconizr-p\:regular{background-image:url('icons/p.svg');background-repeat:no-repeat}
.iconizr-p-dims{width:8px;height:6px}
.iconizr-q,.iconizr-q\:regular{background-image:url('icons/q.svg');background-repeat:no-repeat}
.iconizr-q-dims{width:11px;height:7px}
.iconizr-r,.iconizr-r\:regular{background-image:url('icons/r.svg');background-repeat:no-repeat}
.iconizr-r-dims{width:8px;height:14px}
.iconizr-s,.iconizr-s\:regular{background-image:url('icons/s.svg');background-repeat:no-repeat}
.iconizr-s-dims{width:8px;height:14px}
.iconizr-t,.iconizr-t\:regular{background-image:url('icons/t.svg');background-repeat:no-repeat}
.iconizr-t-dims{width:8px;height:14px}
.iconizr-u,.iconizr-u\:regular{background-image:url('icons/u.svg');background-repeat:no-repeat}
.iconizr-u-dims{width:8px;height:14px}
.iconizr-v,.iconizr-v\:regular{background-image:url('icons/v.svg');background-repeat:no-repeat}
.iconizr-v-dims{width:11px;height:6px}
.iconizr-w,.iconizr-w\:regular{background-image:url('icons/w.svg');background-repeat:no-repeat}
.iconizr-w-dims{width:13px;height:13px}
.iconizr-x,.iconizr-x\:regular{background-image:url('icons/x.svg');background-repeat:no-repeat}
.iconizr-x-dims{width:15px;height:20px}
.iconizr-y,.iconizr-y\:regular{background-image:url('icons/y.svg');background-repeat:no-repeat}
.iconizr-y-dims{width:13px;height:12px}
.iconizr-z,.iconizr-z\:regular{background-image:url('icons/z.svg');background-repeat:no-repeat}
.iconizr-z-dims{width:16px;height:16px}